<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="maxParallel" value= "4"/>
		<add key ="executionEnv" value="Staging"/>
		<add key ="providerEmailStaging" value ="testrigorcpuser@curogram.com"/>
		<add key ="providerPasswordStaging" value ="password1"/>
		<add key ="providerAuthTokenStaging" value ="Basic eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJkZXZpY2VUeXBlIjoid2ViIiwiaXNzdWVyIjoiYXBpIiwiYWNjb3VudElkIjoiNjNlMzZmYTFhY2EyMTA1NGM2YzNjOGQ3IiwiY3JlYXRlZEF0IjoxNjgxMjk4NDY5MzM2LCJidXNpbmVzc0lkIjoiNjNkMjk1ZmUyMDQ2YTE4NmI5OWIyNTM3IiwiaWF0IjoxNjgxMjk4NDY5LCJleHAiOjE2ODM4OTA0NjksImlzcyI6ImFwaSJ9.Zn6GrlNH4gk2Uh11GSFdyqBqDPlOpxaD0VY6fn0cqJz4tWJCtLtNL3YPakAfCYvfvtCeAszz7HnYYSOh4_zE2P5GQw0Hb6AF4n8ee8JeEptknkn-U65m0U-6IIEQwCmAgFMle3n9xjZP11he-c-fXI6RPItBWPor7uzRV28UPVt-k1XeGm3kfeHdcoiHcH1uzClbotftmVijaNd_zggJ4u7oHXpJoC7CZF00VIhgZisKfetBrJDM3AMQEg7ZBNCZmKNtBJIQO98zxVX11YLZwYLJ0prRtLNDDYZwW3_KsO0tPv2Mf71mVJzHndRnrTWa6JMZuL3kiNLq1_RTZ4gokw"/>
	</appSettings>
</configuration>